<header class="header">
  <nav class="nav">
    <ul class="header_menu">
      <li class="header_menu_title"><%= link_to "Trello", root_path, class: "nav-link" %></li>
      <ul class="header_menu_inner">
        <li><%= link_to "ようこそ", new_user_session_path, class: "nav-link" %></li>
      </ul>
    </ul>
  </nav>
</header>