.topPage {
  min-height: 93vh;
  padding-top: 30px;
  background: #bababa;
  overflow-x: scroll;
  .listWrapper {
    display: flex;
    height: 100%;
    align-items: baseline;
    .list {
      position: relative;
      background: #e2e4e6;
      padding: 10px;
      margin-left: 20px;
      min-width: 250px;
      &:last-child {
        margin-right: 20px;
      }
      &_header {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_title {
          font-size: 20px;
          margin: 0;
        }
        &_action {
          .fa-pen, .fa-trash {
            font-size: 18px;
            color: #8c8c8c;
          }
          .fa-trash {
            margin-right: 10px;
          }
        }
      }
      .cardWrapper {
        overflow-y: scroll;
        max-height: 76vh;
        .cardDetail_link {
          text-decoration: none;
          color: #323232;
        }
        .card {
          margin-bottom: 10px;
          padding: 10px;
          &_title {
            font-size: 17px;
          }
          &_detail {
            display: none;
            &.is-exist {
              display: block;
              color: #999;
              & > i {
                display: block;
              }
            }
          }
        }
        .addCard {
          color: #8c8c8c;
          &_link {
            color: #8c8c8c;
          }
        }
        // function
          @function url-encode($string) {
            $map: (
              "%": "%25",
              "<": "%3C",
              ">": "%3E",
              " ": "%20",
              "!": "%21",
              "*": "%2A",
              "'": "%27",
              '"': "%22",
              "(": "%28",
              ")": "%29",
              ";": "%3B",
              ":": "%3A",
              "@": "%40",
              "&": "%26",
              "=": "%3D",
              "+": "%2B",
              "$": "%24",
              ",": "%2C",
              "/": "%2F",
              "?": "%3F",
              "#": "%23",
              "[": "%5B",
              "]": "%5D"
            );
            $new: $string;
            @each $search, $replace in $map {
              $new: str-replace($new, $search, $replace);
            }
            @return $new;
          }
          @function bg-svg($string) {
            @return url('data:image/svg+xml;charset=utf8,#{url-encode($string)}');
          }
          // variable
          $amber: #FFC107;
          $gray-400: #BDBDBD;
          // style
          .progress.fivestar {
            background-image: bg-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><polygon fill="' + $gray-400 + '" points="7.33 4.68 11.5 4.68 11.5 4.73 8.13 7.28 9.45 11.49 9.42 11.5 6 8.91 2.58 11.5 2.55 11.49 3.87 7.28 0.5 4.73 0.5 4.68 4.67 4.68 5.98 0.5 6.02 0.5 7.33 4.68"/></svg>');
            height: 1.2rem;
            width: 6rem;
            .progress-bar.progress-bar-star {
              background-image: bg-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><polygon fill="' + $amber + '" points="7.33 4.68 11.5 4.68 11.5 4.73 8.13 7.28 9.45 11.49 9.42 11.5 6 8.91 2.58 11.5 2.55 11.49 3.87 7.28 0.5 4.73 0.5 4.68 4.67 4.68 5.98 0.5 6.02 0.5 7.33 4.68"/></svg>');
            }
          }
          .progress.fivestar,
          .progress-bar.progress-bar-star {
            background-color: transparent;
            background-size: 1.2rem;
            background-repeat: repeat-x;
            border-radius: 0;
      }
    }
  }
}
}